.App {
  font-family: "Roboto", sans-serif;
  margin: 20px;
}

.MuiDataGrid-toolbarContainer {
  background-color: #f5f5f5;
}

.MuiDataGrid-headerCell {
  background-color: #e0e0e0;
  font-weight: bold;
}

.MuiDataGrid-row {
  border-bottom: 1px solid #ddd;
}

.MuiDataGrid-cell {
  padding: 5px;
}
